@page
@model ServiceHost.Pages.ContactUsModel
@{
}
<div class="col-10 containerBody mt-5 px-sm-5 mx-sm-4" style="margin-bottom:35vh">
    <div class="col-12 d-flex justify-content-start align-items-center">
        <p class="headerParagraphPage font-weight-bold">هوم اپلیکیشن</p>
    </div>
    <div class="col-12 d-flex mt-3 justify-content-start align-items-center">
        <p class="ParagraphsPage">فروشگاه لوازم خانگی</p>
    </div>
    <div class="col-12 mt-4">
        <ul class="header-contact-info__list">
            <li class="d-flex flex-column mt-3">
                <p class="titleParagraphs m-0 font-weight-bold">تلفن</p>
                <p class="ParagraphsPage mt-1 m-0">
                    <i class="ion-android-phone-portrait"></i>
                    <a style="direction:ltr" href="tel://+989331804041">
                        (+98)933 180 4041
                    </a>
                </p>
            </li>
            <li class="d-flex flex-column mt-3">
                <p class="titleParagraphs m-0 font-weight-bold">ایمیل</p>
                <p class="ParagraphsPage mt-1 m-0">
                    <i class="ion-android-mail"></i>
                    <a href="mailto:amirfarahany00@gmail.com">amirfarahany00@gmail.com</a>
                </p>
            </li>
            <li class="d-flex flex-column mt-3">
                <p class="titleParagraphs m-0 font-weight-bold">آدرس</p>
                <p class="ParagraphsPage mt-1 m-0">
                    <i class="ion-location"></i>
                    تهران
                </p>
            </li>
        </ul>
        <br>
        <div id="Contactus">
            <h3 style="font-size: 1.5rem; font-weight: bold;">توضیحات</h3>
            <p style=" font-size: 1.1rem; line-height: 160%;">این سایت صرفا جهت مقاصد آموزشی راه اندازی شده و هیچ گونه اهداف تجاری ای را دنبال نمیکند.<br />
                برای پیاده سازی این وبسایت، سعی شده از معماری Onion استفاده شود.<br>
                برای اطلاعات  بیشتر و دیدن سورس کد میتوانید به <a href="https://github.com/Dev-AMF/HomeApplication_Project">صفحه گیتهاب</a> سایت مراجعه کنید.
            </p>
        </div>
    </div>
</div>